:root {
    --primary-color: #2d6a4f; /* Warna hijau tua seperti hutan */
    --secondary-color: #dda15e; /* Warna coklat muda seperti batu */
    --black: #000000; /* Tetap hitam */
    --white: #ffffff; /* Tetap putih */
    --secondary-text: #abccc1;
    --accent-color: #6b705c; /* Warna hijau kecoklatan untuk aksen */
    --hover-color: #f0efeb; /* Warna krem muda */
    --primary-bg: #e9edc9; /* Warna hijau muda untuk latar belakang utama */
    --secondary-bg: #ffe8d6; /* Warna krem untuk latar belakang sekunder */
    --warning: #e76f51; /* Warna oranye kemerahan untuk peringatan */
    --success: #2a9d8f; /* Warna hijau kebiruan untuk sukses */
    --sidebar-bg: #264653; /* Warna biru tua seperti langit malam */
    --dangger: #e63946; /* Warna merah terang untuk bahaya */
}